.p_opensans {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-style {
  background-size: cover;
  background-position: top;
  /* background-color: #0a0a0a; */
  /* filter: grayscale(100%); */
  background-blend-mode: normal;
}

.header-container {
  position: relative;
  width: 100%;
}

.slider-item {
  position: relative;
  height: 100vh;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%; /* Adjust width as needed */
  text-align: center;
  color: white;
}

.header-title {
  font-weight: 900;
}

.practice-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.about-list {
  list-style: circle;
  padding-left: 5%;
}

.cta-one-section {
  background-image: url("https://res.cloudinary.com/dfdn7sxwi/image/upload/v1705664540/cta-image_tx8leg.png");
  padding: 3rem 0;
  height: auto;
  color: #fff;
}

.dynamic-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-one-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.about-section {
  padding-top: 2rem;
}

.about-image {
  margin: 0 0 0 12rem;
}

.about-image img {
  width: 480px;
  border-radius: 45px;
}

.about-text {
  text-align: justify;
}

.lawyer-section {
  font-family: "Roboto", sans-serif;
}

.abt-txt {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 2rem;
}

.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #fff;
}
.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  filter: brightness(75%);
  transition: opacity 0.2s ease-out;
}
.card h2 {
  position: absolute;
  inset: auto auto 30px 12px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  font-weight: 900;
  text-transform: uppercase;
}
.card p,
.card a {
  position: absolute;
  font-size: normal;
  text-align: justify;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.card p {
  inset: auto auto 80px 12px;
}
.card a {
  inset: auto auto 40px 12px;
  color: inherit;
  text-decoration: none;
}

.card:hover h2 {
  inset: auto auto 90px 12px;
  transition: inset 0.3s ease-out;
}
.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.card a:hover {
  color: #cdcdcd;
}

.card:hover img {
  filter: brightness(50%);
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #ac2333;
  font-size: 24px;
  /* z-index: 100; */
}

.slick-dots li button:before {
  padding-top: 18px;
  color: #ac2333;
}

.slick-dots li.slick-active button:before {
  color: #ac2333;
}

/* Services */
.services {
  background-color: #d0d0d0;
  padding: 3rem 0 3rem 0;
}

.shadow-3xl {
  margin-top: 1rem;
  margin: 1rem 2rem 0 2rem;
  background-color: #f2f2f2;
  --tw-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 40px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.icon-container {
  background: var(--color-main);
}

.service-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 50px;
}

.service-text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-align: justify;
}

.profile-section {
  background-color: #f2f2f2;
  padding-bottom: 3.6rem;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  height: 360px;
  margin: auto;
  margin-top: 1.8rem;
  background: #fff;
  line-height: 1.5;
  border-radius: 9px;
  overflow: hidden;
  z-index: 0;
  background-color: #fff;
}

.profile-wrapper .img-box {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: bottom center;
  transition: 0.9s;
}

.profile-wrapper .img-area {
  position: relative;
  z-index: 0;
  height: auto;
  flex-basis: 50%;
  height: auto;
}

.profile-wrapper .profile-content {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
  flex-basis: 60%;
}

.menu-item:hover {
  color: #ac2333; /* Change text color on hover */
  /* border: #ac2333; */
}

.menu-link:hover {
  color: #ac2333; /* Change text color on hover */
}

/* Team Section */
.profile-img:hover {
  scale: 105%;
}

/* Articles Section */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.article_card {
  width: 300px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.article_card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.article_card:hover .card__image {
  transform: translateY(-10px);
}
.article_card:hover .card__thumb::after {
  top: 0;
}
.article_card:hover .card__snippet {
  margin: 25px 0;
}
.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card__thumb {
    max-height: 500px;
  }
}
.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}
.card__image {
  transition: 0.5s ease-in-out;
  filter: brightness(70%);
}
.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
}
.card__title {
  display: -webkit-box;
  max-height: 85px;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  font-size: 24px;

  line-height: 28px;
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 40px 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .card__snippet {
    margin: 80px 0;
  }
}
.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button:hover {
  color: white;
  border: 1px solid #ac2333;
  background-color: #ac2333;
}

/* Resume Styles */
.resume-details {
  grid-column: span 4 / span 4;
}

.resume-about {
  grid-column: span 8 / span 8;
}

/* Practice Area details */
.practice-content {
  grid-column: span 8 / span 8;
}

.practice-pages {
  grid-column: span 4 / span 4;
}

/* Footer */
.footer {
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: #242424;
  padding-top: 0;
}

.footer-start {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
  padding: 0 2rem;
}

.company-info {
  flex: 1;
  margin: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-start p {
  font-size: 13px;
  padding: 3px 0;
}

.middle-footer,
.footer-end {
  flex: 1;
  color: white;
}

/* Contact Form */
.contact-section {
  font-family: "Roboto", sans-serif;
}

.article-card {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1280px) {
  .about-image {
    margin: 0;
  }
}

@media screen and (max-width: 1150px) {
  .header-content {
    width: 100%;
  }

  .practice-content {
    margin: 0 4rem;
  }

  .cta-one-content {
    margin: 0 4rem;
  }

  .card:hover h2 {
    inset: auto auto 300px 12px;
  }

  .about-image {
    margin: 0 3rem;
  }

  .about-text {
    padding-top: 3rem;
    margin: 0 0 0 3rem;
  }

  .abt-txt {
    margin-right: 0;
  }
}

@media screen and (max-width: 900px) {
  .practice-content {
    margin: 0 2rem;
  }

  .cta-one-content {
    margin: 0 2rem;
  }

  .card:hover h2 {
    inset: auto auto 250px 12px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }
  .profile-wrapper {
    flex-direction: column;
    height: fit-content;
  }

  .resume-details {
    grid-column: span 12 / span 12;
  }

  .resume-about {
    grid-column: span 12 / span 12;
  }

  /* Practice Area details */
  .practice-content {
    grid-column: span 12 / span 12;
  }

  .practice-pages {
    grid-column: span 12 / span 12;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .profile-wrapper {
    margin: 1rem;
  }

  .footer-start {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
}
