.p_opensans {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dfdn7sxwi/image/upload/v1705580776/header-img_v82yvl.png");
  background-size: cover;
  background-position: center;
}

.main-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  width: 45%;
  float: right;
  color: white;
  text-align: center;
}

.header-title {
  font-weight: 900;
}

.practice-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.cta-one-section {
  background-image: url("https://res.cloudinary.com/dfdn7sxwi/image/upload/v1705664540/cta-image_tx8leg.png");
  padding: 3rem 0;
  margin: 2rem 0;
  height: auto;
  color: #fff;
}

.cta-one-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 12rem;
}

.about-image {
  margin: 0 0 0 12rem;
}

.about-image img {
  width: 540px;
  border-radius: 45px;
}

.about-text {
  text-align: justify;
}

.abt-txt {
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 2rem;
}

.card {
  width: 24rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: #fff;
}
.card img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}
.card h2 {
  position: absolute;
  inset: auto auto 30px 12px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  font-weight: 900;
  text-transform: uppercase;
}
.card p,
.card a {
  position: absolute;
  font-size: normal;
  text-align: justify;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
}
.card p {
  inset: auto auto 80px 12px;
}
.card a {
  inset: auto auto 40px 12px;
  color: inherit;
  text-decoration: none;
}

.card:hover h2 {
  inset: auto auto 270px 12px;
  transition: inset 0.3s ease-out;
}
.card:hover p,
.card:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
}
.card a:hover {
  color: #cdcdcd;
}

.card:hover img {
  filter: brightness(50%);
  transition: opacity 0.3s ease-in;
  opacity: 1;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #ac2333;
  font-size: 24px;
}

.slick-dots li button:before {
  padding-top: 18px;
  color: #ac2333;
}

.slick-dots li.slick-active button:before {
  color: #ac2333;
}

@media screen and (max-width: 1280px) {
  .about-image {
    margin: 0;
  }
}

@media screen and (max-width: 1150px) {
  .header-content {
    width: 100%;
  }

  .practice-content {
    margin: 0 4rem;
  }

  .cta-one-content {
    margin: 0 4rem;
  }

  .card:hover h2 {
    inset: auto auto 300px 12px;
  }

  .about-image {
    margin: 0 3rem;
  }

  .about-text {
    padding-top: 3rem;
    margin: 0 0 0 3rem;
  }

  .abt-txt {
    margin-right: 0;
  }
}

@media screen and (max-width: 850px) {
  .practice-content {
    margin: 0 2rem;
  }

  .cta-one-content {
    margin: 0 2rem;
  }

  .card:hover h2 {
    inset: auto auto 250px 12px;
  }

  .about-content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 450px) {
}
