.nav-wrapper {
  width: 72%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-logo img {
  width: 135px;
}

.nav-links {
  flex: 1;
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-links li {
  margin: 0 1rem;
  cursor: pointer;
}
