.nav-wrapper {
  position: fixed;
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 2;
}

.scrolled {
  background-color: #f2f2f2;
  color: black;
}

.scrolled li {
  color: black;
}

.nav-logo {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.nav-logo img {
  width: 120px;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.nav-links li:hover {
  color: #ac2333;
}

.profile-btn {
  flex-grow: 1;
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile_button {
  whitespace: "nowrap";
}

.navbar-sm {
  display: none;
  flex-grow: 1;
  justify-content: space-around;
}

.drop-menu {
  display: flex;
  align-items: center;
}

.navbar-sm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  transition: 0.5s ease-in-out;
  flex-direction: column;
  z-index: 1;
}

.navbar-sm-overlay .overlay_close {
  font-size: 63px;
  color: var(--color-main);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar-sm-overlay .overlay_close:hover {
  color: var(--color-main-dark);
}

.nav-links-sm {
  list-style: none;
}

.nav-links-sm li {
  margin: 2rem;
  cursor: pointer;
  color: aliceblue;
  font-size: 2rem;
  font-family: var(--font-base);
  font-weight: 600;
}

.nav-links-sm li:hover {
  color: var(--color-main);
}

.hamburger-menu {
  color: var(--color-main);
  cursor: pointer;
}

.hamburger-menu:hover {
  color: var(--color-main-dark);
  cursor: pointer;
}

.white-icon {
  color: white; /* Update the color for the white icon */
}

.white-icon:hover {
  color: #c3c3c3; /* Update the color for the white icon */
}

.maroon-icon {
  color: #ac2333; /* Update the color for the maroon icon */
}

.white-menu:hover {
  color: #c8c8c8;
}

.profile-btns {
  display: flex;
  position: absolute;
  bottom: 3rem;
}

.spacer {
  margin: 1.5rem;
}

@media screen and (max-width: 1150px) {
  .nav-links {
    display: none;
  }

  .navbar-sm {
    display: flex;
  }

  .profile-btn {
    display: none;
  }

  .nav-logo img {
    width: 120px;
  }
}

@media screen and (max-width: 600px) {
  .profile-btns {
    display: flex;
    flex-direction: column;
  }
}
